/* Common */

*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 40px;
}

body{
    background-color: #232323;
    color: white;
}



/*********
Header
*********/


/*********
Main
*********/

body h1{
    font-family: 'Cormorant', serif;
}

h1 span{
    font-style: italic;
    font-size: 2.5rem;
}

h1 .semi-bold{
    font-weight: 600;
}

h1 .light{
    font-weight: 300;

}


/* Contacts */
.contacts{
    font-family: 'Montserrat', serif;
    font-weight: 600;
}
.contacts ul{
    list-style: none;
}

.contacts p{
    font-size: 14px;
}

.contacts i{
    font-size: 28px;
}

/* Opening hours */

.hours p{
    font-size: 14px;
}

.hours .time{
    font-weight: 300;
    color: #DFDFDF;
}

.weekday.barred{
    text-decoration: line-through;
}

/*********
Footer
*********/