/* Common */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 28px;
}

body{

}

.container{
    margin: 0 auto;
}

/****
HEADER
*****/

.black_bar{
    background-color: black;
    height: 20px;
    width: 100%;
}

.logo_header{
    width: 350px;
}

/* Navbar */

.sticky-navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.blocco{
    margin-top: 180px;
    height: 1200px;
    background-color: red;
    width: 100%;
}

nav{
    width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 0 1.8rem;
    display:flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 0.3rem 0;
    font-family: 'Montserrat', serif;
    font-weight: 600;
}

nav hr{
    margin: 0;
}

nav .socials{
    justify-self: flex-end;
}

nav .socials a{
    color: black;
    padding: 0 0.5rem;
}




/* Small screen */
@media screen and (max-width: 768px){
    .logo_header{
        width: 250px;
    }
    nav ul li{
        padding: 0 0.5rem;
    }
    nav ul li a{
        font-size: 12px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1000px){
    nav ul li{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1000px){
    nav .socials{
        visibility: hidden !important;
        font-size: 12px;
    }


}